<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>24 hour construction exam</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<h1> Add students:</h1>
<!--Creates a form using the fields inside the form. Using said fields as arguments for the create method-->
<form action="/createStudent" method="post">
    <div>Name:
        <input type="text" name="name" required>
    </div>

    <div>Email:
        <input type="text" name="email" required>
    </div>

    <!--Creates a drop-down menu for supervisors-->
    <div>Supervisor: <select name="Supervisor">
        <option th:each="Supervisor: ${supervisors}" th:text="${Supervisor.id}" th:value="${Supervisor.id}"></option>
    </select></div>

    <div>
        <input type="submit" value="Add student" class="btn btn-success">
    </div>

</form>

<h2> List of students:</h2>

<div>
    <table>
        <thead class="thead-dark">
            </thead>
                <tbody>
                <!--Looping all students into the table -->
                    <tr th:each="student: ${students}">
                        <!-- Creating a form for the update method-->
                        <form action="/updateStudent" method="post">

                            <input type="number" name="id" th:value="${student.id}" hidden>

                            <td>Name:
                            <input type="text" name="name" th:value="${student.name}">
                            </td>

                            <td>E-mail:
                                <input type="text" name="email" th:value="${student.email}">
                            </td>

                            <td>Supervisor:
                                <input type="text" name="supervisor" th:value="${student.supervisor}">
                            </td>

                            <td>
                                <input type="submit" value="update" class="btn btn-info">
                                <!--A link/reference to the delete method in the controller.-->
                                <a th:href="@{'/deleteStudent/'+${student.id}}" class="btn btn-danger">Delete</a>
                            </td>

                            </form>
                    </tr>
                </tbody>
    </table>
</div>

</body>
</html>